<head>
  <h1>This is the about section</h1>
</head>

<body>
  <h3>This is my very first project with rails. It's exciting...</h3>
  <p>My biggest goals in life are:</p>
  <ol>
    <li>Being financially free</li>
    <li>Having my own companies</li>
    <li>Living in a city that I love</li>
    <li>Being surrounded by people that I love, such as my family and close friends</li>
  </ol>
</body>

<footer>
  <p>Go back to <%= link_to 'Home', root_path %> </p> 
</footer>